<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"\
	   integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymou\
													    s">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
      <ul class = "navbar-nav mr-auto">
	<li class = "nav-item active">
	  <a class = "nav-link" href="/">My Blog</a>
	</li>
	<li class = "nav-item active">
	  <a class = "nav-link" href="/bloglist">Blog List</a>
	</li>
	<li class = "nav-item active">
	  <a class = "nav-link" href="/blogadd">Add A Blog</a>
	</li>
    </nav>
    <h1><%= title %></h1><br>
    <div style="clear:both;"></div>
    <% if(blogs.length == 0) { %>
    <h1>No blogs to display! Add one above!</h1>
    <% } else {  %>
      <% blogs.forEach(function(blog) {  %>
	     <div class="card border-dark" style="width: 50%">
		  <div class="card-header">
		    <div class="row">
		      <div class="col-sm">
			<%= blog.blogTitle %><br>
		      </div>
		    </div>
		  </div>
		      <div class="card-body">
			<p class="card-text">
			  <%= blog.blogText %>
			</p>
                      </div>
                   <div class="card-footer">
                     <p class="card-text" style="font-size: .6em">
		       <%= blog.createdDate %>
		     </p>
		     <ul class="nav justify-content-end">
		       <li class="nav-item">
			 <a class="nav-link text-success" href="/blogedit/<%= blog.blogid %>">Edit</a>
		       </li>
		       <li class="nav-item">
			 <a class="nav-link text-success" href="/blogdelete/<%= blog.blogid %>">Delete</a>
		       </li>
		     </ul>
		   </div>
		   
                   </div>
                   <div style="clear:both;"></div>
           </div> <%  });} %>				    
  </body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-\
q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anon\
									       ymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.m\
in.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIH\
		  NDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.\
js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07\
jRM" crossorigin="anonymous"></script>
</html>

